# Виртуальное окружение
venv/
.env

# Базы данных и логи
*.db
*.log
bot.db
bot.log

# Кеш питона
__pycache__/
*.py[cod]

# Временные файлы картинок и видео
*.png
*.mp4
input_*.png
upscaled_*.png

# Настройки IDE (если пользуешься VS Code или PyCharm)
.idea/
.vscode/

# Тяжелые веса моделей (лучше не грузить их в гит, а написать инструкцию, где скачать)
models/
# Или, если модель меньше 50-100Мб, можешь закомментировать строку выше, но лучше не надо.